<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Task2.1_MenuParsers/src/by/epam/tr/cafe/parsers/stax/StaxDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="by.epam.tr.cafe.parsers.stax.StaxDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Task2.1_MenuParsers"/>
</launchConfiguration>
